body {
	margin: 0;
}

#imageBlock{
	width: 420px;
	height: 747px;
}

#overlayImageBlockLeft {
	height: 747px;
	position: relative;
	margin-top: -747px;
	left: -500px;
	width: 0px;
	z-index: 1;
}
div#overlayImageBlockLeft img{
	height: 747px;
}


#overlayImageBlockRight {
	height: 747px;
	position: relative;
	margin-top: -745px;
	left: 420px;
	width: 0px;
	z-index: 1;
}
div#overlayImageBlockRight img{
	height: 747px;
}

/** filter stuff*/
#overlayImageBlockBottom {
	position: absolute;
	height: 354px;
	top: 747px;
	left: 0px;
	width: 0px;
}
div#overlayImageBlockBottom img{
	width: 420px;
}

#filter-content {
	color: #6a6a6a;
	font-family: "myriad pro";
	font-size: 20px;
	position: absolute;
	top: 30px;
	left: 0px;
	padding: 30px;
	width: 360px;
}

.filterLabel {
	padding-bottom: 4px;
	padding-top: 10px;
}

#activityToggle {
	height: 40px;
	width: 250px !important;
}

.filterDropBoxExtended {
	display: none;
}

.filterDropBox {
	background-color: #dedede;
}

.filterDropBox.topExtended {
	color: #c0c0c0;
	border-top: 1px solid
}

.filterDropBox.bottomExtended {
	color: #c0c0c0;
	padding-bottom: 6px;
}

.filterDropBox.extended {
	padding-top: 11px;
}

.filterDropBox.compressed {
	padding: 11px 11px 6px 11px;
	background-image: url('http://i45.tinypic.com/309nb74.png'); 
	background-repeat: no-repeat;
	background-position: right 10px top 18px;
}

/** end of filter stuff*/

div img{
	height: 100%;
}

/**HACK HACK HACK**/
#debug {
	position: absolute;
	top: 0px;
	right: 50px;
}

/**this div hides the overflow on the right side of the window*/
#hackHidingBlock {
	position: absolute;
	width: 500px;
	height: 750px;
	top: 0px;
	left: 420px;
	background-color: white;
	z-index: 1000;
}
#hackHidingBlock2 {
	position: absolute;
	width: 420px;
	height: 500px;
	top: 747px;
	left: 0px;
	background-color: white;
}


/**END OF THE HACKS**/


/** login page textareas **/
div#textAreas #loginPageUsername {
	height: 37px;
	width: 375px;
	font-size: 23px;

	position: absolute;
	left: 23px;
	top: 340px;
}

div#textAreas #loginPagePassword {
	height: 37px;
	width: 375px;
	font-size: 23px;

	position: absolute;
	left: 23px;
	top: 428px;
}

/** createGroup page textareas **/
div#textAreas #groupName {
	height: 30px;
	width: 370px;
	font-size: 23px;
	border: none;

	position: absolute;
	left: 25px;
	top: 170px;
}

div#textAreas #groupDescription {
	height: 30px;
	width: 370px;
	font-size: 23px;
	border: none;

	position: absolute;
	left: 25px;
	top: 255px;
}

/** register page textareas **/
div#textAreas #registerPageUsername {
	height: 33px;
	width: 328px;
	font-size: 23px;
	position: absolute;
	left: 57px;
	top: 440px;
}

div#textAreas #registerPageEmail {
	height: 33px;
	width: 328px;
	font-size: 23px;
	position: absolute;
	left: 57px;
	top: 374px;
}

div#textAreas #registerPagePassword {
	height: 33px;
	width: 328px;
	font-size: 23px;
	position: absolute;
	left: 57px;
	top: 510px;
}

div#textAreas #registerPageConfirmPassword {
	height: 33px;
	width: 328px;
	font-size: 23px;
	position: absolute;
	left: 57px;
	top: 577px;
}
	
/** accountSettings page textareas **/
div#textAreas #personalEmail {
	height: 30px;
	width: 369px;
	font-size: 23px;
	border: none;

	position: absolute;
	left: 25px;
	top: 267px;
}

div#textAreas #newPassword {
	height: 30px;
	width: 369px;
	font-size: 23px;
	border: none;

	position: absolute;
	left: 25px;
	top: 348px;
}

div#textAreas #confirmNewPassword {
	height: 30px;
	width: 369px;
	font-size: 23px;
	border: none;
	
	position: absolute;
	left: 25px;
	top: 420px;
}

div#textAreas #groupSearchBar {
	height: 29px;
	width: 250px;
	font-size: 18px;
	border: none;
	padding: 5px;

	position: absolute;
	left: 78px;
	top: 117px;
}

