body {
	margin: 0;
}

#imageBlock{
	width: 420px;
	height: 747px;
}

#overlayImageBlock {
	height: 747px;
	position: absolute;
	top: 0px;
	left: -500px;
}
div#overlayImageBlock img{
	height: 747px;
}


#overlayImageBlockRight {
	height: 747px;
	position: absolute;
	top: 0px;
	width: 0px;
	right: 990px;
}
div#overlayImageBlockRight img{
	height: 747px;
}

div img{
	height: 100%;
}

/**HACK HACK HACK**/
#debug {
	position: absolute;
	top: 0px;
	right: 50px;
}


/** login page textareas **/
div#textAreas #loginPageUsername {
	height: 37px;
	width: 375px;
	font-size: 23px;

	position: absolute;
	left: 23px;
	top: 340px;
}

div#textAreas #loginPagePassword {
	height: 37px;
	width: 375px;
	font-size: 23px;

	position: absolute;
	left: 23px;
	top: 428px;
}

